/* Absolute Center Spinner */
.loading {
	position: fixed;
	z-index: 10000;
	height: 2em;
	width: 2em;
	overflow: visible;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

/* Transparent Overlay */
.loading:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}

.loading:not(:required) {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.loading:not(:required):after {
	content: '';
	display: block;
	font-size: 10px;
	width: 1em;
	height: 1em;
	margin-top: -0.5em;
	-webkit-animation: spinner 1500ms infinite linear;
	-moz-animation: spinner 1500ms infinite linear;
	-ms-animation: spinner 1500ms infinite linear;
	-o-animation: spinner 1500ms infinite linear;
	animation: spinner 1500ms infinite linear;
	border-radius: 0.5em;
	-webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
	box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.ls0 { letter-spacing: 0px !important; }
.ls1 { letter-spacing: 1px !important; }
.ls2 { letter-spacing: 2px !important; }
.ls3 { letter-spacing: 3px !important; }
.ls4 { letter-spacing: 4px !important; }
.ls5 { letter-spacing: 5px !important; }

.f10 { font-size: 10px !important }
.f11 { font-size: 11px !important }
.f12 { font-size: 12px !important }
.f13 { font-size: 13px !important }
.f14 { font-size: 14px !important }
.f15 { font-size: 15px !important }
.f16 { font-size: 16px !important }
.f20 { font-size: 20px !important }
.f28 { font-size: 28px !important }
.f30 { font-size: 30px !important }
.f40 { font-size: 40px !important }

@media screen and (min-width: 768px) {
	.modal70 { width: 700px !important; }
	.modal700 {
	    width: 700px !important;
	    margin: 30px auto;
	}
}

/* width */
::-webkit-scrollbar {  width: 7px; }
/* Track */
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); }
/* Handle */
::-webkit-scrollbar-thumb {
    background: #F1F1F1;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #dddddd; 
}

.swal2-popup { font-size: 1.6rem !important; }

.error {
	font-weight: 300;
	color: red;
}

.form-group .select2-container {
	position: relative;
	z-index: 2;
	float: left;
	width: 100% !important;
	margin-bottom: 0;
	display: table;
	table-layout: fixed;
}

th, td { white-space: nowrap; }
div.dataTables_wrapper {
    width: auto;
    margin: 0 auto;
}

.load-bar {
	position: relative;
    /*margin-top: 30px;*/
	width: 100%;
	height: 6px;
	background-color: #fdba2c;
}
.bar {
	content: "";
	display: inline;
	position: absolute;
	width: 0;
	height: 100%;
	left: 50%;
	text-align: center;
}
.bar:nth-child(1) {
	background-color: #da4733;
	animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
	background-color: #3b78e7;
	animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
	background-color: #fdba2c;
	animation: loading 3s linear 2s infinite;
}
@keyframes loading {
	from {left: 50%; width: 0;z-index:100;}
	33.3333% {left: 0; width: 100%;z-index: 10;}
	to {left: 0; width: 100%;}
}

@media (max-width: 600px) {
	.slide-content {
		white-space: nowrap; 
		height: auto; 
		overflow-x: scroll; 
		overflow-y: hidden; 
		cursor: pointer;
	}
}

.slider-table {
	white-space: nowrap; 
	height: auto; 
	overflow-x: scroll; 
	overflow-y: hidden; 
	cursor: pointer;
}

.hand { cursor: pointer; }

@media (max-width: 600px) {
	.skin-blue .main-header .logo{
		float: left !important;
		width: 55% !important;
	}
	.main-header .logo{
		-webkit-transition: width .3s ease-in-out;
		-o-transition: width .3s ease-in-out;
		transition: width .3s ease-in-out;
		display: block;
		height: 50px;
		font-size: 20px;
		line-height: 50px;
		text-align: center;
		padding: 8px 65px 8px 8px;
		overflow: hidden;
	}
}

@media (min-width: 600px) {
	.box-title.mobile { display: none; }
}

@media (max-width: 600px) {
	.box-title.desktop { display: none; }
}

.bg-white{
	background-color: #FFF !important;
	color: #000 !important; 
}

.info-box::after{
	content: "";
	border-radius: 5px;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	opacity: 0;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.info-box:hover {
	-webkit-transform: scale(1.00, 1.00);
	transform: scale(1.00, 1.00);
}

.info-box:hover::after {
	opacity: 1;
}

#scroll {
    position:fixed;
    right:10px;
    bottom:7px;
    cursor:pointer;
    width:35px;
    height:35px;
    background-color:#0073B7;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}

#scroll .upside {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -7px;
    margin-top: -11px;
    color: white;
    height: 20px;
}

#scroll:hover {
    background-color:#DA251C;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

.tooltip { position: fixed; }
.bg-bluecrown-light { background: #0073B7 !important; color: #FFF !important; }
.bg-bluecrown { background: #0073B7 !important; }
.bg-dark-gray {
  color: #000;
  background-color: #B5BBC8 !important;
}

.dt-button { background: #FFF !important; }
.button-page-length { width: 100% !important; }
.text-white { color: #FFF !important;  }

.no-radius { border-radius: 0 !important; }